<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d27557a1-ebc4-4dd6-bf71-fc2bd759c767/resourceGroups/myResourceGroup/providers/Microsoft.Web/sites/ApplicationBackend</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://applicationbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>applicationbackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApplicationBackend</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ApplicationBackend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>